    <%- include("header") -%>

    <section class="color-section" id="title">
        <!-- Nav Bar-->
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <a class="navbar-brand" href="">GameName</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#titleNavBar-toggler"
                    aria-controls="titleNavBar-toggler" aria-expanded="false" aria-label="Toggle Navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="titleNavBar-toggler">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.google.ca">Download</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#Highlights">Highlights</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#gameshow">Rule</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#Contact">Contact Me</a>
                        </li>
                    </ul>

                </div>
            </nav>
            <!-- title -->
            <div>
                <div class="row">
                    <div class="col-lg-6">
                        <img class="titleImage" src="imgs\gamelogo.png" alt="There should be a person here">
                    </div>

                    <div class="col-lg-6">
                        <h1 class="big-heading">Are you ready for this little funny game?</h1>
                        <button type="button" class="btn btn-outline-light btn-lg identity"><i
                                class="fas fa-user-plus"></i> Sign Up</button>
                        <button type="button" class="btn btn-dark btn-lg"><i class="fas fa-sign-in-alt"></i> Sign
                            In</button>
                        <button type="button" class="btn btn-secondary btn-lg"><i class="fab fa-google-play"></i>
                            Download</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr>
    <!-- Highlights -->
    <section class="white-section" id="Highlights">
        <div class="container-fluid">
            <div class="row">
                <div class="highlight-box col-lg-4">
                    <i class="icon fas fa-dice-d20 fa-5x"></i>
                    <h3 class="hl-heading">Highlight-1</h3>
                    <p>This Games is blablablablablabla</p>
                </div>
                <div class="highlight-box col-lg-4">
                    <i class="icon fas fa-dice-d6 fa-5x"></i>
                    <h3 class="hl-heading">Highlight-2</h3>
                    <p>This Games is blablablablablabla</p>
                </div>
                <div class="highlight-box col-lg-4">
                    <i class="icon fas fa-dice fa-5x"></i>
                    <h3 class="hl-heading">Highlight-3</h3>
                    <p>This Games is blablablablablabla</p>
                </div>
            </div>
        </div>
    </section>
    <hr>
    <!-- GamewShow -->
    <section class="white-section" id="gameshow">
        <div class="container-fluid">
            <div id="gamedescriptioncarousel" class="carousel slide" data-ride="false">
                <ol class="carousel-indicators">
                    <li data-target="#gamedescriptioncarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#gamedescriptioncarousel" data-slide-to="1"></li>
                    <li data-target="#gamedescriptioncarousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="gameImage" src="imgs\Charmander.jpg" alt="pic1">
                        <div class="carousel-caption d-none d-md-block">
                            <h5 class="slide-caption">blablablablablabla</h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="gameImage" src="imgs\Bulbasaur.jpg" alt="pic2">
                        <div class="carousel-caption d-none d-md-block">
                            <h5 class="slide-caption">blablablablablabla</h5 class="slide-caption">
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="gameImage" src="imgs\Squirtle.jpg" alt="pic3">
                        <div class="carousel-caption d-none d-md-block">
                            <h5 class="slide-caption">blablablablablabla</h5 class="slide-caption">
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#gamedescriptioncarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#gamedescriptioncarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        </div>
    </section>
    <hr>
    <!-- Contact Info -->
    <section class="white-section" id="Contact">
        <div class="container-fluid">
            <h2 class="contact-heading">Get In Touch</h2>
            <h4 class='contact-message'>We need your bright ideas to help us improve.</h4>
        </div>
    </section>


    <%- include("footer") -%>

