<%- include("partials/signHeader") -%>
<form action="/" class="form-signup" method="POST">
    <img class="mb-4" src="imgs/lgd-logo.png" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Signup to this Game!</h1>

    <input type="text" name="uName" class="form-control top" placeholder="User Name" required autofocus>
    <input type="email" name="email" class="form-control bottom" placeholder="Email" required>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
    <p class="mt-5 mb-3 text-muted">&copy; GameName</p>
</form>


<%- include("partials/signFooter") -%>