body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  background-color: #e5dfdf;
}

h1 {
  font-family: "Montserrat-Black", sans-serif;
}
h2,
h3 {
  font-family: "Montserrat-Bold", sans-serif;
}

h4,
h5 {
  font-family: "Montserrat-Italic", sans-serif;
}

h6 {
  font-family: "Montserrat-light", sans-serif;
}

p {
  color: #8f8f8f;
}

hr {
  border: dotted;
  color: #c2b0c9;
  border-bottom: none;
  border-width: 8px;
  width: 4%;
  margin: 50px auto;
}

.container-fluid {
  padding: 3% 20%;
}

.color-section {
  background-color: #7fa998;
}

.white-section {
  background-color: #e5dfdf;
}

/* Title */

#title {
  color: #ffffff;
}

#title .container-fluid {
  padding: 3% 15% 5%;
}

.big-heading {
  font-size: 3.5rem;
  line-height: 2;
  font-weight: 900;
}

.navbar {
  padding: 0 0 8rem;
}

.navbar-brand {
  font-family: "Indie Flower", cursive;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-light", sans-serif;
}

.identity {
  margin: 5% 3% 5% 0%;
}

.titleImage {
  transition: all 0.3s ease-in-out 0s;
  width: 80%;
  height: 70%;
}

.titleImage:hover {
  cursor: default;
  transform: rotate(25deg);
  transition: all 0.3s ease-in-out 0s;
}

.btn {
  margin-right: 5%;
}

/* Highlight */

.highlight-box {
  padding: 5%;
}

.hl-heading {
  font-size: 1.5rem;
  font-weight: 700;
}

.icon {
  color: #93b5b3;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #39375b;
}

/* gameshow */
#gameshow {
  padding-bottom: 2%;
  padding-top: 2%;
}

.gameImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 70%;
}

.slide-caption {
  font-size: 1.2rem;
  color: #ffffff;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%414141' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%414141' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

/* foot */

.contact-heading {
  font-size: 1.8rem;
  font-weight: 700;
  padding-bottom: 1%;
  color: #55ae95;
}

.contact-message {
  font-size: 1.4rem;
  color: #6f9a8d;
}

#foot {
  margin-top: 5%;
}

.social {
  margin: 15px 10px;
}

.copyright {
  font-size: 0.8em;
  font-weight: 100;
}

@media (max-width: 1300px) {
  #title {
    text-align: center;
  }
  .titleImage {
    transition: all 0.3s ease-in-out 0s;
    width: 55%;
    height: 45%;
  }

  h1 {
    font-family: "Montserrat-Black", sans-serif;
    font-size: 2rem;
    line-height: 2;
    font-weight: 900;
  }

  .btn {
    margin: 2%;
  }
}
