<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</body>
<footer class="color-section" id="foot">
    <div class="container-fluid">
        <i class="social fab fa-facebook fa-2x"></i>
        <i class="social fab fa-instagram fa-2x"></i>
        <i class="social fab fa-twitter-square fa-2x"></i>
        <i class="social far fa-envelope fa-2x"></i>
        <h6 class="copyright">© 2020 Jarvis Gong & Yi Shen.</h6>
    </div>
</footer>

</html>