{% load crispy_forms_tags %}
{% if form.errors %}
<p>Your passwords didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'registration:signup' %}">
{% csrf_token %}
<table>
{{ form|crispy }}
</table>

<input type="submit" value="sign up">
<input type="hidden" name="next" value="{{ next }}">
</form>
